canvas {
  margin: 10px 0;
}

canvas .comparator{
  max-height: 400px;
  max-width: 600px;
}

.title {
  text-align: center;
}

.density-table td {
  height: 2px;
  width: 2px;
  padding: 0 !important;
  margin: 0;
  border: 1px solid rgb(238, 238, 238) !important;

}

.density-table{
  width: 200px;
  margin: 0 auto;
}

.red{
  background: red;
}

.blue{
  background: blue;
}
