<div class="hero-unit" ng-controller="CountryCtrl">
  <h3>Wanna see your country's population trending over time?</h3>
  <label for="selectedCountry">Choose the country: </label><br>

  <select name="selectedCountry" id="selectedCountry" ng-change="loadPopulation()" ng-model="selectedCountry">
    <option value="">---Please select---</option>
    <option ng-repeat="country in countries" value="{{country.id}}">{{country.name}}</option>
  </select><br>
  <div ng-if="selectedCountryName != ''">
    <h2 class="title">{{selectedCountryName}}'s population from 1950 to 2015 </h2>
  </div>

  <canvas class="chart chart-line chart_labels" chart-data="data" chart-labels="labels"
          chart-series="series" chart-options="options" chart-dataset-override="datasetOverride"></canvas>

</div>

