<div ng-controller="LoginCtrl" class="container">
  <div class="col-xs-12" style="height: 200px"></div>
  <div class="col-xs-12">
    <div class="col-xs-4"></div>
    <div class="col-xs-4 login-form">
      <br>
      <h3 class="login title">Welcome to Population</h3>
      <img class="logo" src="../favicon.png">
      <br>
      <button class="loginBtn loginBtn-google" ng-click="onLogInButtonClick()">Log In</button>
      <div>{{loginNotice}}</div>
      <br>
    </div>
    <div class="col-xs-4"></div>
  </div>
</div>
